.statistics {
  width: 600px;
  margin: 50px auto 50px;
  box-shadow: 0 0 5px 5px #83afe136;
}

.item {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}

.title {
  display: flex;
  font-weight: 500;
  color: #22a5cd;
  align-items: center;
  justify-content: center;
  background-color: #fcfce2;
}

.statlist {
  display: -webkit-flex;
  display: flex;
  height: 80px;
}

.label {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #0000005d, 0 0 1em #0000005d, 0 0 0.2em #0000005d;
}

.percentage {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #0000005d, 0 0 1em #0000005d, 0 0 0.2em #0000005d;
}
